body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game{
  margin: 20px;
  width: 400px;
  height: 500px;
}

.boardGame{
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  /* background-color: cadetblue; */
}

.barGame{
  width: 100%;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px 10px 0 0;
  /* background-color: aqua; */
  background-color: coral !important;
  padding-bottom: 10px;
  padding-top: 10px;
}

.pieceGame{
  width: 100%;
  height: 100px;
  margin: 1.5% !important;
  background-color: coral;
}

/* .pieceGame:hover{
  width: 100%;
  height: 100px;
  margin: 1.5% !important;
  background-color: rgb(71, 23, 5) !important;
} */

.pone{
  background-color: #9600b1 !important;
}
.ptwo{
  background-color: #4c8f00 !important;
}

.row-pieces {
  display: flex; /* or inline-flex */
  justify-content: space-around;
}